
<div class="button-container">
  <button (click)="onStart()" type="submit" class="btn btn-primary custom-button">Start</button>
  <button (click)="onStop()"class="btn btn-primary custom-button">Stop</button>
  <button (click)="onReset()"class="btn btn-primary custom-button">Reset</button>
  <button routerLink="/models" class="btn btn-primary custom-button">Powrót</button>
</div>
<mat-selection-list #org [multiple]="false" class="list-container">
  <mat-list-option *ngFor="let proces of pollList" [value]="proces">
    {{proces.name}}
  </mat-list-option>
</mat-selection-list>

<ngx-graph *ngIf="org.selectedOptions.hasValue()"
  class="chart-container"

  [draggingEnabled]= true
  [links]="pollList[pollList.indexOf(org.selectedOptions.selected[0].value)].poll!.links!"
  [nodes]="pollList[pollList.indexOf(org.selectedOptions.selected[0].value)].poll!.nodes!"
  [clusters]="pollList[pollList.indexOf(org.selectedOptions.selected[0].value)].poll!.clusters!"
  [layout]="layout"
  [curve]="myCurve"
  [autoCenter]='false'

>

  
  <ng-template #clusterTemplate let-cluster>
    <svg:g class="node cluster">
      <svg:rect
        [attr.width]="cluster.dimension.width" 
        [attr.height]="cluster.dimension.height "
        [attr.stroke]="'#070708'"
        [attr.stroke-width]="3" 
        [attr.fill]="'#0F7AF4'"
        [attr.rx]="cluster.data.borderRadius" 
      />
      <svg:text 
        alignment-baseline="central" 
        [attr.x]="-cluster.dimension.height/2- cluster.label.length*3.5"
        [attr.y]="-20"
        transform="rotate(270)"
      >
        {{cluster.label}}
      </svg:text>

      <svg:rect
        [attr.width]="cluster.dimension.height" 
        [attr.height]="40"
        [attr.fill]="'#0F7AF4'"
        [attr.x]="-cluster.dimension.height"
        [attr.y]="-40"
        transform="rotate(270)"
        [attr.stroke]="'#070708'"
        [attr.stroke-width]="3" 
      />
    </svg:g>
  </ng-template>

<ng-template #nodeTemplate let-node>
    <svg:g class="node">
      <ng-container [ngSwitch]="node.data.shape">
        
        <svg:circle *ngSwitchCase="'circle'" 
        [attr.cx]="node.dimension.width / 2"
        [attr.cy]="node.dimension.height / 2"
        [attr.r]="node.dimension.height/ 2"
        [attr.fill]="'#600000'"

      />

      
      <svg:polygon *ngSwitchCase="'diamond'" 
      [attr.points]="diamondPoints(node.dimension.width, node.dimension.height)"
      [attr.fill]="'#004AD2'"
      />


        <svg:rect *ngSwitchCase="''" 
          [attr.width]="node.dimension.width"
          [attr.height]="node.dimension.height"
          [attr.fill]="'#EEE0CB'" 
          [attr.rx]="10"  
          [attr.ry]="10"  
        />
        <svg:rect *ngIf="node.data.monitor_execute > 0 "
      
          [attr.width]="node.dimension.width"
          [attr.height]="node.dimension.height"
          [attr.fill]="'#05F946'" 
          [attr.rx]="10"  
          [attr.ry]="10"
        />
        <svg:rect *ngIf="node.data.monitor_execute === 0 && node.data.monitor_pending > 0"
          
          [attr.width]="node.dimension.width"
          [attr.height]="node.dimension.height"
          [attr.fill]="'#E7F800'" 
          [attr.rx]="10"  
          [attr.ry]="10"
        />

        <svg:foreignObject
        *ngIf="node.data.task==='USER'"
        [attr.width]="node.dimension.width/2"
        [attr.height]="node.dimension.height/2"
        [attr.y]="'-3px'"
      >
        <div xmlns="http://www.w3.org/1999/xhtml" style="width: 100%; height: 100%;">
          <mat-icon style="font-size: 18px;">perm_identity</mat-icon>
        </div>

      </svg:foreignObject>

      <svg:foreignObject
        *ngIf="node.data.task==='MANUAL'"
        [attr.width]="node.dimension.width/2"
        [attr.height]="node.dimension.height/2"
        transform="rotate(90)"
        [attr.y]="'-14px'"

      >
        <div xmlns="http://www.w3.org/1999/xhtml" style="width: 100%; height: 100%;">
          <mat-icon style="font-size: 13px;">pan_tool</mat-icon>
        </div>
      </svg:foreignObject>

      <svg:foreignObject
      *ngIf="node.data.task==='BUSINESS'"
      [attr.width]="node.dimension.width"
      [attr.height]="node.dimension.height"
      [attr.y]="'-1px'"
    >
    <div xmlns="http://www.w3.org/1999/xhtml" style="width: 100%; height: 100%;">
      <mat-icon style="font-size: 15px;">settings</mat-icon>
    </div>
    </svg:foreignObject>

    <svg:foreignObject
      *ngIf="node.data.gate==='xor'"
      [attr.width]="30"
      [attr.height]="30"
      [attr.x]="node.dimension.width/2 - 26/2"
      [attr.y]="node.dimension.height/2 - 26/2"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
    </svg>
    </svg:foreignObject>

    <svg:foreignObject
      *ngIf="node.data.gate==='or'"
      [attr.width]="30"
      [attr.height]="30"
      [attr.x]="node.dimension.width/2 - 26/2"
      [attr.y]="node.dimension.height/2 - 26/2"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    </svg>
    </svg:foreignObject>

    <svg:foreignObject
      *ngIf="node.data.gate==='and'"
      [attr.width]="30"
      [attr.height]="30"
      [attr.x]="node.dimension.width/2 - 30/2"
      [attr.y]="node.dimension.height/2 - 30/2"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
    </svg>
    </svg:foreignObject>
      
      <svg:text *ngSwitchCase="''" alignment-baseline="central" [attr.x]="11" [attr.y]="node.dimension.height / 2 ">
          
      {{node.label}}
      </svg:text>
      <svg:text *ngSwitchCase="''" alignment-baseline="central" [attr.x]="-2-8*node.data.monitor_pending?.toString().length" [attr.y]="8">
        {{node.data.monitor_pending}}
      </svg:text>
      <svg:text *ngSwitchCase="''" alignment-baseline="central" [attr.x]="node.dimension.width+2" [attr.y]="8">
        {{node.data.monitor_execute}}
      </svg:text>
      <svg:text *ngSwitchCase="''" alignment-baseline="central" [attr.x]="-1-8*node.data.monitor_realized?.toString().length" [attr.y]="node.dimension.height-8">
        {{node.data.monitor_realized}}
      </svg:text>

      </ng-container>
    </svg:g>
  </ng-template>

  <ng-template #defsTemplate>
    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
    </svg:marker>
  </ng-template>
  
  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
    </svg:g>
  </ng-template>
  
</ngx-graph>